/* .App {
  text-align: center;
} */

.foodImage {
  width: 150px;
  height: auto;
}

.foodBoxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-content: space-between;
}

.foodFormAndSearchBarContainer {
  display: flex;
  justify-content: space-between;
}