body{
  text-align: center;
  background-color: rgb(241, 196, 187);
  font-family: 'Outfit', sans-serif;
}


li{
  list-style-type: none;
}

.food-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
   

}
img{
  border: 1px solid transparent;
  border-radius: 20px;
}
.fomoss{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 500px;
}
.smaller{
  width: 200px;
}
.ant-card-head-title{
  color: tomato;
  font-size: 25px;
}
button{
  color: black;
}

