.App {
  margin: 10px;  
}

Button {
  margin: 10px 0;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.feedback span {
  font-size: 200px;
}